---
layout: 'layouts/authenticated'
title: 'Home'
order: 300
status: 'completed'
body_classes: 'auth landing bg-gray-100'
include_splide: true
news_article: {
    "title": "Program CSR Hino Indonesia : Tanam 33.000 Pohon Bakau",
    "image": "assets/uploads/articles/20130830051935-career-banner-12.jpg",
    "publish": "20 Oktober 2019",
    "created_by": "Admin"
}
quick_menu: [
    {
        icon: "/assets/images/ic-model-hino.svg",
        title: "Model HINO",
        the_slug: "model-hino-quickmenu"
    },
    {
        icon: "/assets/images/ic-dealer.svg",
        title: "Dealer",
        the_slug: "dealer-quickmenu"
    },
    {
        icon: "/assets/images/ic-komparasi.svg",
        title: "Komparasi",
        the_slug: "komparasi-quickmenu"
    },
    {
        icon: "/assets/images/ic-simulasi-kredit.svg",
        title: "Simulasi Kredit",
        the_slug: "simulasi-kredit-quickmenu"
    },
    {
        icon: "/assets/images/ic-news.svg",
        title: "News",
        the_slug: "news-quickmenu"
    },
    {
        icon: "/assets/images/ic-after-sales.svg",
        title: "After Sales",
        the_slug: "after-sales-quickmenu"
    },
    {
        icon: "/assets/images/ic-sales-tool.svg",
        title: "Sales Tool",
        the_slug: "sales-tool-quickmenu"
    }
]
dms_outstanding_trans_menu: [
    {
        icon: "/assets/images/ic-outstanding-pdi-receipt.svg",
        title: "Outstanding PDI Receipt",
        the_slug: "outstanding-pdi-receipt"
    },
    {
        icon: "/assets/images/ic-transfer-request.svg",
        title: "Transfer Request",
        the_slug: "transfer-request"
    },
    {
        icon: "/assets/images/ic-outstanding-purchase-order.svg",
        title: "Outstanding Purchase Order",
        the_slug: "outstanding-purchace-order"
    },
    {
        icon: "/assets/images/ic-outstanding-work-order.svg",
        title: "Outstanding Work Order",
        the_slug: "outstanding-work-order"
    },
    {
        icon: "/assets/images/ic-outstanding-payment.svg",
        title: "Outstanding Payment",
        the_slug: "outstanding-payment"
    },
    {
        icon: "/assets/images/ic-reminder-agreement-spare-parts.svg",
        title: "Reminder Agree. Spare Parts",
        the_slug: "reminder-agreement-spare-parts"
    },
    {
        icon: "/assets/images/ic-outstanding-sales-order.svg",
        title: "Outstanding Sales Order",
        the_slug: "outstanding-sales-order"
    },
    {
        icon: "/assets/images/ic-reminder-agreement-service.svg",
        title: "Reminder Agree. Service",
        the_slug: "reminder-agreement-service"
    }
]
requested_approval_dms_menu: [
    {
        icon: "/assets/images/ic-purchase-order.svg",
        title: "Purchase Order",
        the_slug: "purchase-order"
    },
    {
        icon: "/assets/images/ic-sales-order.svg",
        title: "Sales Order",
        the_slug: "sales-order"
    },
    {
        icon: "/assets/images/ic-assignment-letter.svg",
        title: "Assignment Letter",
        the_slug: "assignment-letter"
    },
    {
        icon: "/assets/images/ic-sales-order-invoice.svg",
        title: "Sales Order Invoice",
        the_slug: "sales-order-invoice"
    },
    {
        icon: "/assets/images/ic-pdi-receipt.svg",
        title: "PDI Receipt",
        the_slug: "pdi-receipt"
    },
    {
        icon: "/assets/images/ic-sales-order-invoice-return.svg",
        title: "Sales Order Invoice Return",
        the_slug: "sales-order-invoice-return"
    },
    {
        icon: "/assets/images/ic-stock-opname.svg",
        title: "Stock Opname",
        the_slug: "stock-opname"
    },
    {
        icon: "/assets/images/ic-work-order.svg",
        title: "Work Order",
        the_slug: "work-order"
    },
    {
        icon: "/assets/images/ic-stock-adjustment.svg",
        title: "Stock Adjustment",
        the_slug: "stock-adjustment"
    },
    {
        icon: "/assets/images/ic-work-order-invoice.svg",
        title: "Work Order Invoice",
        the_slug: "work-order-invoice"
    },
    {
        icon: "/assets/images/ic-agreement-service.svg",
        title: "Agreement Service",
        the_slug: "agreement-service"
    },
    {
        icon: "/assets/images/ic-work-order-invoice-return.svg",
        title: "Work Order Invoice Return",
        the_slug: "work-order-incoice-return"
    },
    {
        icon: "/assets/images/ic-agreement-spare-parts.svg",
        title: "Agreement Spare Parts",
        the_slug: "agreement-spare-parts"
    },
    {
        icon: "/assets/images/ic-print-gate-pass.svg",
        title: "Print Gate Pass",
        the_slug: "print-gate-pass"
    }
]
requested_approval_hoyu_smart_menu: [
    {
        icon: "/assets/images/ic-sales-order-hoyu.svg",
        title: "Sales Order",
        the_slug: "sales-order-hoyu"
    },
    {
        icon: "/assets/images/ic-faktur-hoyu.svg",
        title: "Faktur",
        the_slug: "faktur-hoyu"
    },
    {
        icon: "/assets/images/ic-order-split-hoyu.svg",
        title: "Order Split",
        the_slug: "order-split-hoyu"
    },
    {
        icon: "/assets/images/ic-pdi-hoyu.svg",
        title: "PDI",
        the_slug: "pdi-hoyu"
    },
    {
        icon: "/assets/images/ic-event-hoyu.svg",
        title: "Event",
        the_slug: "event-hoyu"
    },
    {
        icon: "/assets/images/ic-leads-hoyu.svg",
        title: "Leads",
        the_slug: "leads-hoyu"
    },
    {
        icon: "/assets/images/ic-opportunity-hoyu.svg",
        title: "Opportunity",
        the_slug: "opportunity-hoyu"
    },
]
sales_feature_menu: [
    {
        icon: "/assets/images/ic-my-activity.svg",
        title: "My Activity",
        the_slug: "my-activity"
    },
    {
        icon: "/assets/images/ic-leads.svg",
        title: "Leads",
        the_slug: "leads"
    },
    {
        icon: "/assets/images/ic-opportunity.svg",
        title: "Opportunity",
        the_slug: "opportunity"
    },
    {
        icon: "/assets/images/ic-event-management.svg",
        title: "Event Management",
        the_slug: "event-management"
    },
    {
        icon: "/assets/images/ic-complaint-management.svg",
        title: "Complaint Management",
        the_slug: "complaint-management"
    },
]
sales_tools_menu: [
    {
        icon: "/assets/images/ic-model-hino.svg",
        title: "model HINO",
        the_slug: "model-hino"
    },
    {
        icon: "/assets/images/ic-dealer.svg",
        title: "Dealer",
        the_slug: "dealer"
    },
    {
        icon: "/assets/images/ic-komparasi.svg",
        title: "Komparasi",
        the_slug: "komparasi"
    },
    {
        icon: "/assets/images/ic-simulasi-kredit.svg",
        title: "Simulasi Kredit",
        the_slug: "simulasi-kredit"
    },
    {
        icon: "/assets/images/ic-news.svg",
        title: "Artikel",
        the_slug: "artikel"
    },
    {
        icon: "/assets/images/ic-after-sales.svg",
        title: "After Sales",
        the_slug: "after-sales"
    },
    {
        icon: "/assets/images/ic-sales-tool.svg",
        title: "Sales Tool",
        the_slug: "sales-tool"
    }
]
slide_article: [
    {
        "title": "Program CSR Hino Indonesia : Tanam 33.000 Pohon Bakau",
        "image": "assets/uploads/articles/20130830051935-career-banner-12.jpg",
    },
    {
        "title": "Hino Lebih Dekat Dengan Konsumen Balikpapan",
        "image": "assets/uploads/articles/20130830051935-career-banner-114.jpg",
    },
    {
        "title": "3 Dekade Hino Indonesia",
        "image": "assets/uploads/articles/20130830051935-career-banner-112.jpg",
    },
    {
        "title": "Hino Cruising Ranger FM 285 JD - Truk Medium Common Rail Tangguh dan Ekonomis",
        "image": "assets/uploads/articles/20130830051935-career-banner-111.jpg",
    }
]
---

<section id="section__header" class="py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img src="/assets/images/logo-heart-horizontal-color.svg" class="logo-heart-horizontal-color mb-2" />
                <h5 class="font-weight-normal text-darker m-0">Welcome Back, {{ user.name }}</h5>
            </div>
            <div class="col-auto">
                <img src="/assets/images/img-onboarding-04.png" class="img-onboarding-04" />
            </div>
        </div>
    </div>
</section>
<section id="section__slider" class="mb-8">
    <div class="container">
        <div class="row">
            <div class="col p-0 p-sm-3">
                <div class="splide splide--home-slider">
                    <div class="splide__track rounded overflow-hidden">
                        <ul class="splide__list">
                            {{#each slide_article}}
                                <li class="splide__slide d-flex align-items-end">
                                    <img src="https://www.hino.co.id/hino_staging/{{ image }}" />
                                    <h5 class="text-white">{{ title }}</h5>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </div>
       
</section>
<section id="section__quick-menu" class="mb-10">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="grid-container grid--quickmenu">
                    {{#each quick_menu }}
                        <div class="grid-item item-{{ the_slug }}">
                            <div class="bg-white rounded-lg mb-2 square">
                                <div class="content d-flex align-items-center justify-content-center">
                                    <img src="{{ icon }}" class="img-icon" />
                                </div>
                            </div>
                            <p class="m-0 text-center">{{ title }}</p>
                        </div>
                    {{/each}}
                    <div class="grid-item item-more">
                        <div class="bg-white rounded-lg mb-2 square">
                            <div class="content d-flex align-items-center justify-content-center">
                                <box-icon name='dots-horizontal-rounded' size="2rem" color="#888888" ></box-icon>
                            </div>
                        </div>
                        <p class="m-0 text-center">More</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section__activity" class="mb-10">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-0 rounded-lg">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="col-auto p-0 mr-4">
                                <img src="/assets/images/ic-activity.svg" class="img-ic-activity img-icon" />
                            </div>
                            <div class="col p-0 mr-4 text-dark">
                                <h5>My Activity</h5>
                                <p class="m-0">Activity: 4 Activities</p>
                            </div>
                            <div class="col-auto p-0">
                                <box-icon name="plus" size="2rem" color="#C80000"></box-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-hino-red-darker py-3 px-4 mx-3 rounded-bottom rounded-bottom-lg">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-auto px-0 text-white">
                            <h5 class="m-0">Thursday, 9 Jul 2020</h5>
                        </div>
                        <div class="col-auto px-0">
                            <box-icon size="2rem" color="#ffffff" name="calendar"></box-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section__outstandings" class="mb-8">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h6 class="home-section-title">Outstanding Transaction</h6>
                <div class="card rounded-lg">
                    <div class="card-body py-8">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="col-auto px-0 position-relative">
                                <h5>5</h5>
                                <span class="floating-badge text-center">5</span>
                            </div>
                            <div class="col-auto px-0">
                                <img src="/assets/images/ic-dms.png"  class="img-ic-dms" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h6 class="home-section-title">Outstanding Approval</h6>
                <div class="row">
                    <div class="col-6">
                        <div class="card rounded-lg">
                            <div class="card-body py-5 py-md-8">
                                <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-md-between">
                                    <div class="col-auto px-0 mb-5 mb-md-0 position-relative">
                                        <h5>5</h5>
                                        <span class="floating-badge text-center">5</span>
                                    </div>
                                    <div class="col-auto px-0 align-self-center">
                                        <img src="/assets/images/ic-hoyu-smart.png"  class="img-ic-hoyu-smart" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card rounded-lg">
                            <div class="card-body py-5 py-md-8">
                                <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-md-between">
                                    <div class="col-auto px-0 mb-5 mb-md-0 position-relative">
                                        <h5>8</h5>
                                        <span class="floating-badge text-center">8</span>
                                    </div>
                                    <div class="col-auto px-0 align-self-center">
                                        <img src="/assets/images/ic-dms.png"  class="img-ic-dms" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section id="section__latest-news">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="home-section-title text-uppercase">Latest News</h6>
                <div class="card card--latest-news rounded-lg">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="featured rounded" style="background-image: url('https://www.hino.co.id/hino_staging/{{ news_article.image }}');"></div>
                            </div>
                            <div class="col pl-0 flex-grow-1">
                                <h2>{{ news_article.title }}</h2>
                                <div class="d-flex">
                                    <span class="text-uppercase">{{ news_article.created_by }}</span>
                                    <span class="mx-1">|</span>
                                    <span>{{ news_article.publish }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<div id="popup-menu" class="popup-overlay">
    <div class="popup">
        <div class="header mb-3">
            <div class="bar"></div>
        </div>
        <div class="card menu-search-box mb-8">
            <div class="card-body py-2">
                <div class="d-flex align-items-center">
                    <div class="col p-0">
                        <input type="text" class="search-box" placeholder="Search" >
                    </div>
                    <div class="col-auto p-0">
                        <box-icon name="search" size="24px" color="#444444" class="d-block"></box-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-menu">
            <section id="favourite-app" class="mb-8">
                <h5 class="text-darker mb-5">Favourite App</h5>
                <div class="grid-container grid--quick-menu-popup">
                    {{#each quick_menu }}
                        <div class="grid-item item-{{ the_slug }}">
                            <img src="{{ icon }}" class="img-icon mb-2" />
                            <p class="m-0 text-center">{{ title }}</p>
                        </div>
                    {{/each}}
                    <div class="grid-item item-edit">
                        <div class="img-icon d-flex align-items-center justify-content-center mb-2">
                            <box-icon name="edit-alt" size="24px" color="#444444"></box-icon>
                        </div>
                        <p class="m-0 text-center">Edit</p>
                    </div>
                </div>  
            </section>
            <section id="dms-outstanding-transaction" class="mb-8">
                <h5 class="text-darker mb-5">DMS Outstanding Transactions</h5>
                <div class="grid-container grid--quick-menu-popup">
                    {{#each dms_outstanding_trans_menu }}
                        <div class="grid-item item-{{ the_slug }}">
                            <img src="{{ icon }}" class="img-icon mb-2" />
                            <p class="m-0 text-center">{{ title }}</p>
                        </div>
                    {{/each}}
                </div>  
            </section>
            <section id="requested-approval-dms" class="mb-8">
                <h5 class="text-darker mb-5">Requested Approval DMS</h5>
                <div class="grid-container grid--quick-menu-popup">
                    {{#each requested_approval_dms_menu }}
                        <div class="grid-item item-{{ the_slug }}">
                            <img src="{{ icon }}" class="img-icon mb-2" />
                            <p class="m-0 text-center">{{ title }}</p>
                        </div>
                    {{/each}}
                </div>  
            </section>
            <section id="requested-approval-hoyu-smart" class="mb-8">
                <h5 class="text-darker mb-5">Requested Approval HOYU Smart</h5>
                <div class="grid-container grid--quick-menu-popup">
                    {{#each requested_approval_hoyu_smart_menu }}
                        <div class="grid-item item-{{ the_slug }}">
                            <img src="{{ icon }}" class="img-icon mb-2" />
                            <p class="m-0 text-center">{{ title }}</p>
                        </div>
                    {{/each}}
                </div>  
            </section>
            <section id="sales-feature" class="mb-8">
                <h5 class="text-darker mb-5">Sales Feature</h5>
                <div class="grid-container grid--quick-menu-popup">
                    {{#each sales_feature_menu }}
                        <div class="grid-item item-{{ the_slug }}">
                            <img src="{{ icon }}" class="img-icon mb-2" />
                            <p class="m-0 text-center">{{ title }}</p>
                        </div>
                    {{/each}}
                </div>  
            </section>
            <section id="sales-tools" class="mb-8">
                <h5 class="text-darker mb-5">Sales Tools</h5>
                <div class="grid-container grid--quick-menu-popup">
                    {{#each sales_tools_menu }}
                        <div class="grid-item item-{{ the_slug }}">
                            <img src="{{ icon }}" class="img-icon mb-2" />
                            <p class="m-0 text-center">{{ title }}</p>
                        </div>
                    {{/each}}
                </div>  
            </section>
        </div>
    </div>
</div>

<script>
    document.addEventListener( 'DOMContentLoaded', function () {
		let splideOnboarding = new Splide( '.splide--home-slider', {
			arrows: false,
			autoplay: true,
			keyboard: false,
            cover: true,
            heightRatio: 0.5,
			perMove: 1,
            breakpoints: {
                480: {
                    heightRatio: 0.65
                }
            }
		}).mount()

        document.querySelector('#section__quick-menu .item-more').addEventListener('click', () => {
            document.getElementById('popup-menu').classList.add('is-active');
        });
        document.getElementById('popup-menu').addEventListener('click', (event) => {
            if( event.target.id !== 'popup-menu' ) {
                return false
            }
            document.getElementById('popup-menu').classList.remove('is-active');
        }, true);
        document.querySelector('#popup-menu .header .bar').addEventListener('click', (event) => {
            document.getElementById('popup-menu').classList.remove('is-active');
        }, true);
        document.querySelector('#popup-menu .item-edit').addEventListener('click', (event) => {
            if( document.querySelector('.container-menu').classList.contains('is-editing') ) {
                document.querySelector('.container-menu').classList.remove('is-editing')
            } else {
                document.querySelector('.container-menu').classList.add('is-editing')
            }
        });
        

    });
</script>