<div class="form-group row align-items-center {{#if alt_form}}form-group--alt{{/if}}">
    {{#unless remove_label}}
        <div class="col-4">
            <label for="{{ field_name }}">{{ title }}</label>
        </div>
    {{/unless}}
    <div class="{{#if remove_label}}col-12{{ else }}col-8{{/if}}">
        {{#if (eq type 'select')}}
            <select class="form-control" name="{{ field_name }}" id="{{ field_name }}">
                {{> @partial-block}}
            </select>
        {{else if (eq type 'textarea') }}
            <textarea class="form-control" name="{{ field_name }}" id="{{ field_name }}" value="{{ value }}"></textarea>
        {{else}}
            <input type="{{ type }}" class="form-control" name="{{ field_name }}" id="{{ field_name }}" value="{{ value }}" />
        {{/if}}
    </div>
</div>